  *{
    box-sizing: border-box;
  }
  
  /* shared section */
.para-1{
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
  /* navbar start hare */
.nav-container{
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-container{
    display: flex;
    width: 50%;
    align-items: center;
    gap: 5px;
}
.logo-container img{
    object-fit: cover;
   
}
.logo-head{      
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}
.logo-span{
    color: #FF42A5;
}
.nav-logo{
    display: flex;
    gap: 20px;
}
.nav-follow{
    padding: 0 10px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;
    gap: 5px;

}
.logo-img{
    width: 22px;
  

}
/* <!-- nav section ends hare --> */



/* <!-- main section starts hare --> */

.main-container{
  background-image: url(images/Group\ 14.png);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 80px;
  height: 100vh;
}
.main-content{
    background-image: url(images/Group\ 14.png);
    padding-left: 50px;
}
.main-header{
   padding-right: 10px;
   text-align: center;
}
.text-1{
    color: #0B0223;
    font-family: Work Sans;
    font-size:40px;
    font-weight: 350;
    
}
.text-2{
    font-family: Work Sans;
    text-decoration: ;
    font-size: 75px;
    font-weight: 500;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-1{
    border-radius: 15px;
    border: 0;
    padding: 16px 30px;
    color: white;
    background-color: #FF42A5;
}
.para{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    text-align: left;

}
.btn-2{
    border-radius: 15px;
    border: 0;
    padding: 16px 30px;
    color: white;
    background: #4EC5F7;
}

/* online games section start */


.main-img{
    margin-top: 150px;
}
.text-head{
    text-align: center;
}

.vedio{
    position: relative;
}

.play-vedio{
    background: skyblue;
    height: 30px;
    width: 30px;
    position: absolute;
    text-align: center;
    left: 0px;
    bottom: 100px;
    margin: 50%;
}
.play{
    position: absolute;
    left: 0px;
    top: 0;
    margin: 50%;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    color: #F948B2;
    background-color: #0B0223;

}
.text-3{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
}
.text-decoraition{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;

}

.Image-section{
    display: flex;
    gap: 10px;
    margin: 0 50px;
}
.img-info{
    height: 300px;
    width: 300px;

}


/* <!-- start no Download section --> */

.download-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px 70px 0 270px;
    text-align: right;

}
.text-header{
    text-align: center;
}
.text-4{
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px; 
}
.text-5{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.horse-img{
    height: 400px;
    width: 360px; 
}
.image-info{
    position: relative;
}
.image-info-container{
    height: 200px;
    width: 150px;
    position: absolute;
    bottom: -40px;
    left: 0;
}


.para-2{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}


/* Small logo section start */

.small-logo-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 120px;
    gap: 5px;
    align-items: center;
}


.small-logo-1{
    display: flex;
   
}
.small-logo-1:hover{
    border: 1px solid red;
    border-radius: 40px;
    color: orangered;
}





/* footer section start  */
.footer-container{
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background: #0B0223;
}
.footer-1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-img{
    height: 50px;
    width: 60px;
}
.image-content{
    font-size: 40px;
    color: white;
}
.footer-text{
    display: flex;
    gap: 20px;
    color: white;
    list-style: none;
    text-align: center;
}
.footer-logo{
    height: 50px;
    width: 50px;
    display: flex;
    gap: 10px;

    background: linear-gradient(180deg,red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-para{
    color: rgb(184, 179, 179);
    display: flex;
    gap: 20px;
    text-align: center;
}
.footer-paragraph{
    color: rgb(197, 192, 192);
}


